# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Cloudflare Wrangler cache & build artifacts
.wrangler/

# AWS & Cloud keys/deploy files
aws/

# OS metadata & logs
.DS_Store
Thumbs.db
*.log

# Python bytecode
__pycache__/
*.py[cod]
*$py.class